<div class="news-block new-hot-block">

  <div class="new hot-new">
    <a href="{{url}}" class="new__link hot-new__link">
      <span class="new__text-block hot-new__text-block">
        <span class="new__date hot-new__date">{{date}}</span>
        <h3 class="new__title hot-new__title">{{title}}</h3>
        <p class="new__description hot-new__description">{{desc}}</p>
      </span>
      <img src="{{image}}" alt="{{title}}" class="new__image hot-new__image">
    </a>
  </div>

</div>