
<div class="new short-new">
   <a href="{{url}}" class="new__link short-new__link">
     <span class="new__text-block short-new__text-block">
       <span class="new__date short-new__date">{{date}}</span>
       <h3 class="new__title short-new__title">{{title}}</h3>
     </span>
     <img src="{{image}}" alt="{{title}}" class="new__image ort-new__image">
   </a>
 </div>