<li class="teachers__teacher-item teacher">
  <a href="{{url}}" class="teacher__link-block">
    <span class="teacher__image-block">
      <img src="{{image}}" class="teacher__image">
    </span>
  </a>
  <span class="teacher__information-block">
    <a href="{{url}}" class="teacher__link-block"><span class="acher__name">{{FIO}}</span></a>
    <span class="teacher__desc">{{degrees}}</span>
    <span class="teacher__positions">{{positions}}</span>
  </span>
</li>